.card {
    background: radial-gradient(rgba(171, 202, 213, 1) 0%, rgba(135, 200, 224, 1) 35%, rgba(89, 164, 191, 1) 100%);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
    min-height: 400px;
    height: fit-content;
    width: 24%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card_image {
    height: 200px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 10px 0;
}

.card_title {
    font-size: 24px;
    font-weight: bold;
    color: #222;
}

.card_address,
.card_preservation_level,
.card_donor {
    font-size: 16px;
    color: #666;
    margin: 5px 0;
}

.card_donor{
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 10px 0 30px 0;
}

.card_button {
    background: linear-gradient(to right, #9e0b0f, #ff0000);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    align-content: center;
    display: flex;
    gap: 7px;
}