.footer {
    background: rgb(15, 138, 70);
    background: linear-gradient(90deg, rgb(15, 138, 70) 0%, rgb(0, 166, 81) 14%, rgb(0, 166, 81) 87%, rgb(15, 138, 70) 100%);
    color: #fff;
    padding: 3em;
    text-align: center;
    border-top: 2px solid #fff;
    width: 100%;
}

.socialList {
    display: flex;
    justify-content: center;
    list-style: none;
}

.socialList li {
    margin: 0 1em;
}

.socialList li:hover {
    color: #01dbfd;
}

.socialList li svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copyRight {
    margin-top: 2em;
}

.copyRight span {
    font-weight: bold;
    color: #01dbfd;
}