.container {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.inner {
    display: flex;
    padding: 1em;
    width: fit-content;
}

.item {
    min-height: 200px;
    min-width: 400px;
    padding: 14px;
    height: 100%;
}

.carousel {
    cursor: grab;
    overflow: hidden;
}

.containerSections {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}

.secTitle{
    margin: 1em 0 0 0;
    margin: 2em 0 0 2em;
}

.secTitle h1{
    font-size: 3em;
    color: #222;
    position: relative;
    width: min-content;
    text-align: center;
    color: #222;
}

.secTitle p{
    color: rgba(34, 34, 34, .7);
    max-width: 500px;
}