@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
.section {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #ccc;
    justify-content: center;
    align-items: center;
    padding-top: .8em;
    background-image: url("/src/img/landingBg.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    position: relative;
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-bottom: 120px;
    font-size: 20pt;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container > h1{
    color: green;
    font-size: 45pt;
    font-family: 'Cookie', cursive;
}
.container > p{
    background-color: #fff;
    border-radius: 20px;
    margin-top: 10px;
    overflow: hidden;
    font-size: 15pt;
    color: green;
}
.container > p > a{
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: .5em 1em;
    font-weight: 700;
    position: relative;
    display: flex;
}

.container > p > a > svg{
    margin: auto;
    margin-left: 10px;
}